
body {
    margin: 0;
    padding: 0;
}    

.banner {
    width: 100%;
    display: block;
    
}

.banner > .banner-image {
    
    width: 100%;
    display: block;
    
        
        
    }

a {
    text-decoration: inherit;
}
text
{
   
    
}
.bottone {
     font-family: sans-serif;
    font-size: auto;
    text-align: center;
    color: white;
    
    border: solid 2px #454545;
    padding: 10px 20px 10px 20px;
    border-color: #454545;
    background-color: #999999;
    border-radius: 20px
    
    
    
}

.bottone:hover{
   background-color:  #454545;
     transition-duration: 150ms;
       
    
}


.mail {
     font-family: sans-serif;
    font-size: 150px;
    text-align: center;
    color: white;
    
    border: solid 2px #000000;
    padding: 10px 20px 10px 20px;
    border-color: #454545;
    background-color: #999999;
    border-radius: 20px
    
    
    
}

.mail:hover{
   background-color:  #454545;
     transition-duration: 150ms;
       
    
}

footer{
    
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #222;
    padding: 30px 0px 200px 0px;
    
}

.footer1 {
    
    color: #454545;
    font-family: sans-serif;
    font-size: 30px;
    
}
.info {
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20;
    background-color: #595959;
    

    
    transition-duration: 200ms;
    line-height: 100px;
    
}

.info:hover {
    background-color:  #B50404;
    color:white;
    
}

.home {
    font-family: sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 100;
    background-color: white;
    line-height: 20%;
    
}

.nav {
    font-size: 20px;
    background-color: #595959;
    list-style: none;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0 20px 0;

    
}

.nav > li {
    display: inline;
    padding: 0 20px 0 20px;
}

.nav > li > a{
    color: white;
    pa
    
}

.me {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    
}
       .me1 {
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 10px;
    
}

.button2 {
    font-family: sans-serif;
    font-size: auto;
    text-align: center;
    color: white;
    
    border: solid 2px #000000;
    padding: 10px 20px 10px 20px;
    border-color: #454545;
    background-color: #999999;
    border-radius: 20px
    
}

.button2:hover{
    
    background-color: #454545;
    transition-duration: 150ms;
    
}

.button4 {
    font-size: 50px;
    font-family: sans-serif;
    color: #ffffff;
    
    border: solid 2px #000000;
    background-color: #999999;
    padding: 10px 60px 10px 60px;
    border-radius: 60px;
    
    
    
    
}

.button4:hover {
    
    background-color: #454545;
    transition-duration: 150ms;
}

.wrapper {
  min-height: 100%;

  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

.live{


}

#countholder .link{
margin-top: 40px;
}
#countholder a{
display: inline-block;
color: #fff;
font-size: 20px;
padding: 20px;
background: #265;
border-radius: 30px;
text-decoration: none;
}
#countholder a:hover{
background: #487;
}
#countholder{
font-family: sans-serif;
color: #fff;
display: inline-block;
font-weight: 100;
text-align: center;
font-size: 48px;
background-color: #454545;
padding:20px;
border-radius: 6px;
margin-bottom:30px;
line-height: 1.4;
}
#countholder > div{
padding: 4px 10px;
border-radius: 3px;
background: #454545;
display: inline-block;
}
#countholder div > span{
border-radius: 3px;
background: #454545;
display: inline-block;
}
#countholder .smalltext{
padding-top: 5px;
font-size: 16px;
    
}

.video{

display: inline-block;
}

.download {
    line-height: 4;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #b71b1b;
    border: solid #b71b1b 2px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    
}

.dwnlaod {
font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
line-height: 2;
    
}

    
